@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
@font-face {
  font-family: Valorax;
  src: url("./img/VerminVibesV-Zlg3.ttf");
}
* {
  margin: 0;
  padding: 0;
}
body {
  font-family: Plus Jakarta Sans;
  color: #fff;
}
.hamburger,
.nav-block {
  display: none;
}
.backGradient {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: linear-gradient(180deg, #00000000, rgb(0, 0, 0));
  z-index: -1;
}
.heightHeader {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(231, 231, 231); */
  background-image: url("./img/mike-u-JuJYPgv4Rag-unsplash.jpg");
  background-size: 100% 100%;
  color: #fff;
  z-index: 1;
  position: relative;
}

.navigationBar {
  width: 100%;
  height: 70px;
  background-color: #6d6d6d96;
  box-shadow: 0 0 5px #202020cc;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  backdrop-filter: blur(10px);
}

.logo-container {
  margin: 0 0 0 25px;
  font-size: 2rem;
}

.items {
  width: 38%;
  display: flex;
  justify-content: space-between;
  margin: 0 70px 0 0;
}

.items .itemHover {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 0.4s;
}

.itemHover:hover {
  background-color: #000;
  color: #fff;
}

.hero-section {
  width: 100%;
  height: 91vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* box-shadow: 0 0 15px #02df90; */
  z-index: -1;
}

.imgContainer {
  width: 50%;
  height: 80vh;
  overflow: hidden;
}

.img-men-struggling {
  width: 500px;
  height: 80%;
  margin: 20px 90px 0 0;
}

.assignment-text {
  margin: 0 0 0 50px;
}

.marginH1 {
  margin: 0 0 10px 0px;
  font-size: 3rem;
}

.line {
  width: 100%;
  height: 2px;
  background-color: #fc8581;
  margin: 10px 0 10px 0;
  border-radius: 10px;
}

.details-hero {
  font-size: 1.2rem;
}

.greet-user {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0 0 10px 0;
}

.exploreBtn {
  margin: 20px 0 0 0;
  width: 160px;
  height: 40px;
  border: 0.1px solid #000;
  outline: none;
  background-color: #fc8581;
  font-size: 1.5rem;
  box-shadow: 6px 6px 1px #464646;
  border-radius: 3px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
}

.exploreBtn:hover {
  margin: 25px 0 0 5px;
  box-shadow: 0 0 0;
}

.assignmentMain,
.footerMain {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.assigned-title {
  font-size: 3rem;
  font-weight: bolder;
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  opacity: 0;
  transition: 1s;
}
.assTitle {
  opacity: 1;
}
.assigned-title p {
  -webkit-text-stroke: none;
  color: transparent;
  background: #24c6dc;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4436e0, #0a535d);
  background: linear-gradient(to right, #4436e0, #5573f9);
  /* Chrome 10-25, Safari 5.1-6 */
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  /* background-image: url("./img/mesh.png"); */
  background-clip: text;
  -webkit-background-clip: text;
  background-position: -800% 400%;
}

.semFourAssignments {
  width: 100%;
  height: 250px;
  margin: 10px 0 10px 0;
  text-align: center;
}

.sem4 {
  margin: 10px 0 0px 0;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  opacity: 0;
  transition: 0.5s;
}
.sem4Opq {
  opacity: 1;
}
.sliderMain {
  width: 100%;
  height: 220px;
  margin: 10px 0 0 0;
  overflow-y: scroll;
  scroll-snap-type: x mandatory;
  background-color: transparent;
  opacity: 0;
  transition: 1s;
  scale: 0;
}
.sliderMainSlide {
  opacity: 1;
  scale: 1;
}
.sliderMain::-webkit-scrollbar,
.assignmentSectionSub::-webkit-scrollbar {
  display: none;
}

.sliderSub {
  width: 200%;
  height: 220px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  scroll-snap-align: center;
}
.sliderSub3 {
  width: 150%;
}
.lineAs {
  width: 100%;
  height: 6px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px 0 0 0;
}
.lineSub {
  width: 0px;
  height: 5px;
  background: linear-gradient(to right, #4436e0, #5573f9);
  border-radius: 10px;
  transition: 1.5s;
}
.lineInc {
  width: 300px;
}
.assignmentSubjects {
  width: 250px;
  height: 200px;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 0 2px #535353;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  scroll-snap-align: center;
  transition: 0.4s;
  cursor: pointer;
}

.assignmentSubjects::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 45%;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: linear-gradient(45deg, rgb(255, 155, 155), rgb(76, 195, 255));
  transform: scale(0);
  transition: 1s cubic-bezier(0.6, 0.04, 0.98, 0.335);
  animation: rot 3s linear infinite;
}
@keyframes rot {
  100% {
    rotate: 360deg;
  }
}
.assignmentSubjects:hover.assignmentSubjects::after {
  transform: scale(50);
}

.assignmentSectionSub {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #181818d5;
  bottom: -100%;
  transition: 0.5s;
  color: #fff;
  backdrop-filter: blur(3px);
  overflow-x: scroll;
}

.subjectTitleHolder {
  font-size: 1.5rem;
  font-weight: bolder;
  text-align: center;
  z-index: 1;
}

.topToggle {
  bottom: 0;
  z-index: 1;
}

.assignMentHolder {
  padding: 10px;
}

.assignMentHolder h3 {
  margin: 0 0 20px 0;
}

.lines {
  width: 100%;
  height: 40px;
  border-top: 0.5px solid #fff;
  border-bottom: 0.5px solid #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.timeDate {
  margin: 0px 0px 20px 0;
}
.time,
#dateShow {
  font-size: 1.5rem;
}
.lineDate {
  width: 150px;
  height: 2px;
  background-color: #fc8581;
  border-radius: 10px;
}
.footerMain {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(255, 255, 255); */
  margin: 0px 0 0 0;
}
.logoGamin {
  font-family: Valorax;
  font-size: 5rem;
  margin: 20px 0 0 20px;
}
.blurredBack {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLinks {
  width: 50%;
  height: 100%;
}
.mainBlur {
  width: 90%;
  height: 75vh;
  /* background: linear-gradient(45deg, #144272, #2c74b3, #205295); */
  background: linear-gradient(45deg, #350706, #9c1d16, #d42816);
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #d42816;
}
.navigation {
  margin: 20px 0 0 20px;
  font-size: 2rem;
}
.lineNav {
  width: 290px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}
.navShortcut {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 15px 0 0 10px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
.navShortcut::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 32px;
  height: 2px;
  width: 0;
  background-color: #f9f9f9;
  transition: all 0.3s;
  border-radius: 10px;
}
.navShortcut:nth-child(2):hover.navShortcut::after {
  width: 50px;
}
.navShortcut:nth-child(3):hover.navShortcut::after {
  width: 100px;
}
.navShortcut:nth-child(4):hover.navShortcut::after {
  width: 155px;
}
.navShortcut:nth-child(5):hover.navShortcut::after {
  width: 120px;
}
.navShortcut:nth-child(6):hover.navShortcut::after {
  width: 120px;
}
.navShortcut:nth-child(7):hover.navShortcut::after {
  width: 150px;
}
.navShortcut:nth-child(8):hover.navShortcut::after {
  width: 130px;
}
.navShortcut a {
  text-decoration: none;
  color: #ffffff;
}
.logoAndQuote {
  height: 100%;
  margin: 60px 0 0 10px;
}
.logoAndQuote h1 {
  font-size: 2rem;
}
.imgSmall {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 10px;
}
.greyOut {
  color: #dbdbdb;
}
.myProfile {
  height: 60%;
  width: 100%;
}
.profile {
  width: 100%;
  height: 80px;
  background-color: rgba(39, 39, 39, 0.409);
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
}
@media only screen and (max-width: 675px) {
  .myProfile {
    display: none;
  }
  .mainBlur {
    display: unset;
  }
  .logoAndQuote {
    height: 30%;
    margin: 20px 0 0 10px;
  }
  .navigation {
    margin: 10px 0 0 20px;
    font-size: 1rem;
  }
  .lineNav {
    width: 150px;
    height: 5px;
    background-color: #000;
    border-radius: 10px;
  }
  .navShortcut {
    /* display: flex; */
    width: 150%;
    align-items: center;
    margin: 15px 0 0 10px;
    cursor: pointer;
  }
  .line {
    width: 100%;
    height: 2px;
    background-color: #02df90;
    margin: 15px 0 15px 0;
    border-radius: 10px;
  }
  .assignmentSubjects::after {
    display: none;
  }

  .assignmentSubjects:hover {
    color: #000;
  }

  .heightHeader {
    width: 100%;
    height: 100vh;
    background-size: 200% 100%;
    background-position: center;
  }
  .assignment-text {
    height: 70%;
  }
  .assignment-text,
  .greet-user,
  .marginH1,
  .details-hero {
    font-size: 1rem;
  }

  .image-container {
    display: none;
  }

  .navigationBar {
    justify-content: flex-start;
  }
  .fixedNav {
    position: fixed;
    z-index: 55;
  }
  .logo-container {
    margin: 0 0 0 20px;
    font-size: 1.5rem;
    z-index: 55;
  }

  .marginLogo {
    margin: 0;
  }

  .hamburger {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 20px;
    cursor: pointer;
    transition: 0.5s;
  }

  .items {
    display: none;
  }

  .bars {
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    margin: 9px 0 8px 2px;
    z-index: 5;
    position: relative;
    border-radius: 10px;
    transition: 0.5s;
  }

  .nav-block {
    display: inline-block;
    width: 100%;
    position: fixed;
    overflow: hidden;
    z-index: 2;
    height: 100vh;
    background-color: #eaeaea;
    overflow: hidden;
    margin: 0 0 0 -100%;
    transition: 0.4s;
  }

  .navToggle {
    margin: 0;
  }

  .logo-container {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 20px;
    font-weight: bolder;
  }

  .navLogo {
    margin: 0 0 0 60px;
  }

  .rotate {
    transform: rotate(-180deg);
    margin: 5px 0 0 20px;
  }

  .barOneToggle {
    transform: translateX(20px) translateY(4px) rotate(45deg);
    width: 20px;
    background-color: #000000;
  }

  .barTwoToggle {
    width: 20px;
    transform: translateX(20px) translateY(-4px) rotate(-45deg);
    background-color: #000000;
  }
  .barOneOToggle {
    background-color: #000;
  }
  .itemsNav {
    width: 100%;
    height: 60%;
    margin: 20px 0 10px 0;
  }

  .navItems {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    font-weight: bold;
    margin: 10px 0;
  }

  .aniMationBar a {
    text-decoration: none;
    color: #000;
  }

  .navItems:hover {
    background-color: #a9a9a9;
  }

  .navItems p {
    margin: 0 0 0 20px;
  }

  .fa-chev {
    width: 15px;
    height: 15px;
    margin: 0 20px 0 0;
  }

  .hero-section {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  .assignment-text {
    margin: 0 10px 0 10px;
  }

  .greet-user {
    font-size: 1.2rem;
  }

  .marginH1 {
    font-size: 1.8rem;
  }

  .assignmentMain {
    width: 100%;
    height: 90vh;
  }

  .assigned-title {
    font-size: 2.5rem;
    font-weight: bolder;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 -10px 0px;
  }

  .assigned-title p {
    text-align: center;
  }

  .semFourAssignments {
    width: 100%;
    height: 300px;
    margin: 10px 0 0 0;
  }
  .threee {
    margin: 20px 0;
  }

  .sem4 {
    margin: 10px 0;
    font-size: 1.5rem;
    text-transform: uppercase;
  }

  .sliderMain {
    width: 100%;
    height: 220px;
    margin: 20px 0 20px 0;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
    background-color: transparent;
  }

  .sliderSub {
    width: 740%;
    height: 220px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    scroll-snap-align: center;
  }
  .sliderSub3 {
    width: 490%;
    height: 220px;
  }
  .assignmentSubjects {
    width: 250px;
    height: 200px;
    background-color: rgba(255, 255, 255, 0.767);
    backdrop-filter: blur(2px);
    border-radius: 10px;
    box-shadow: 0 0 2px #535353;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    scroll-snap-align: center;
  }

  .assignmentSectionSub {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #181818d5;
    bottom: -100%;
    transition: 0.5s;
    color: #fff;
    backdrop-filter: blur(3px);
    overflow-x: scroll;
  }

  .subjectTitleHolder {
    font-size: 1.5rem;
    font-weight: bolder;
    text-align: center;
  }

  .topToggle {
    bottom: 0;
    z-index: 1;
  }

  .assignMentHolder {
    padding: 10px;
  }

  .assignMentHolder h3 {
    margin: 0 0 20px 0;
  }

  .lines {
    width: 100%;
    height: 40px;
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .downIcon {
    width: 30px;
    height: 30px;
  }

  .aniMationBar {
    transform: translateY(50px);
    opacity: 0;
  }

  .aniMationBar:nth-child(2) {
    transition-delay: 0.2s;
  }

  .aniMationBar:nth-child(3) {
    transition-delay: 0.4s;
  }

  .aniMationBar:nth-child(4) {
    transition-delay: 0.6s;
  }

  .aniMationBar:nth-child(5) {
    transition-delay: 0.8s;
  }

  .aniMationBar:nth-child(6) {
    transition-delay: 1s;
  }

  .toggBar {
    transition: 1s;

    transform: translateY(0);
    opacity: 1;
  }
  .footerMain {
    width: 100%;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    margin: 0px 0 0 0;
  }
  .logoGamin {
    font-size: 2.4rem;
    margin: 90px 0 0 20px;
  }
}
