@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: Plus Jakarta Sans;
}
.hamburger,
.nav-block {
  display: none;
}
.heightHeader {
  width: 100%;
  height: 100vh;
  background-color: rgb(231, 231, 231);
  box-shadow: 0 0 5px #777;
}
.navigationBar {
  width: 100%;
  height: 70px;
  background-color: #eaeaea;
  box-shadow: 0 0 5px #202020cc;
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-container {
  margin: 0 0 0 25px;
  font-size: 2rem;
}
.items {
  width: 38%;
  display: flex;
  justify-content: space-between;
  margin: 0 70px 0 0;
}
.items .itemHover {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 0.4s;
}
.itemHover:hover {
  background-color: #000;
  color: #fff;
}
.hero-section {
  width: 100%;
  height: 87vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.imgContainer {
  width: 50%;
  height: 80vh;
  overflow: hidden;
}
.img-men-struggling {
  width: 500px;
  height: 80%;
  margin: 20px 90px 0 0;
}
.assignment-text {
  margin: 0 0 0 50px;
}
.marginH1 {
  margin: 0 0 10px 0px;
  font-size: 3rem;
}
.line {
  width: 100%;
  height: 2px;
  background-color: #000;
  margin: 10px 0 10px 0;
}
.details-hero {
  font-size: 1.2rem;
}
.greet-user {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0 0 10px 0;
}
.exploreBtn {
  margin: 20px 0 0 0;
  width: 160px;
  height: 40px;
  border: 0.1px solid #000;
  outline: none;
  background-color: rgb(255, 255, 255);
  font-size: 1.5rem;
  box-shadow: 6px 6px 1px #464646;
  border-radius: 3px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
}
.exploreBtn:hover {
  margin: 25px 0 0 5px;
  box-shadow: 0 0 0;
}
.assignment {
  width: 100%;
  height: 100vh;
}
@media only screen and (max-width: 635px) {
  .heightHeader {
    height: 100vh;
  }
  .navigationBar {
    justify-content: flex-start;
  }
  .logo-container {
    margin: 0 0 0 20px;
    font-size: 1.5rem;
  }
  .hamburger {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 10px;
    cursor: pointer;
  }
  .items {
    display: none;
  }
  .bars {
    width: 35px;
    height: 2px;
    background-color: #000;
    margin: 9px 0 8px 2px;
    z-index: 5;
    position: relative;
    border-radius: 10px;
  }
  .nav-block {
    display: block;
    width: 100%;
    position: fixed;
    height: 65%;
    background-color: #f00;
  }
}
