@import url("https://fonts.googleapis.com/css2?family=Courier+Prime:wght@400&family=Plus+Jakarta+Sans:wght@400;700&display=swap");
@font-face {
  font-family: Valorax;
  src: url("./img/VerminVibesV-Zlg3.ttf");
}
* {
  margin: 0;
  padding: 0;
}
:root {
  --pallet: #07add4;
  --font-color: #07add4;
  --font-color-dark: #038cab;
}
body {
  font-family: Plus Jakarta Sans;
  color: #fff;
}
.hamburger,
.nav-block {
  display: none;
}
.backGradient {
  width: 100%;
  height: 100vh;
  position: absolute;
  background: linear-gradient(180deg, #00000000, rgb(0, 0, 0));
  z-index: -1;
}
.heightHeader {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(231, 231, 231); */
  /* background-image: url("./img/mike-u-JuJYPgv4Rag-unsplash.jpg"); */
  background-image: url("./img/andreas-gucklhorn-mawU2PoJWfU-unsplash.jpg");
  background-size: 100% 140%;
  color: #fff;
  z-index: 1;
  position: relative;
  animation: transWallpaper 2s linear;
  background-position: center;
}

.navigationBar {
  width: 100%;
  height: 70px;
  background-color: #6d6d6d96;
  /* box-shadow: 0 0 5px #202020cc; */
  font-weight: bolder;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  backdrop-filter: blur(10px);
}

.logo-container {
  margin: 0 0 0 25px;
  font-size: 2rem;
}

.items {
  width: 46%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 40px 0 0;
}

.circleProfile img,
.circleProfileMob img {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  box-shadow: 0 0 15px #2f2f2f;
  object-fit: cover;
  cursor: pointer;
}
.circleProfileMob {
  display: none;
}
.trialForm {
  position: absolute;
  width: 400px;
  height: 500px;
  left: 180px;
  top: 60px;
  z-index: 55;
  /* background: linear-gradient(
    145.49deg,
    rgba(151, 255, 212, 0.84) 3.95%,
    rgba(151, 202, 243, 0.598) 100%
  ); */
  background-color: #fffbfbb3;
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */

  border-radius: 20px;
  display: flex;

  color: #000;
}
.formTitle {
  margin: 10px;
  font-size: 2rem;
  font-weight: bolder;
  color: #000;
  text-transform: uppercase;
}
.inputFields {
  width: 40%;
}
.inpFields {
  width: 213%;
  margin: 5px 0 20px 20px;
  border-radius: 5px;
  border: 1px solid #0e1406;
  padding: 8px;
  font-family: Plus Jakarta Sans;
  background-color: #ffffff75;
  outline: none;

  font-size: 1.1rem;
}
.labelSignUp {
  margin: 10px 0 0px 20px;
  /* font-weight: 700; */
}
.regiBtn {
  width: 350px;
  height: 35px;
  margin: 10px 20px 0 20px;
  background: #76dd54;
  border: none;
  cursor: pointer;
  border-radius: 2px;
  font-family: Plus Jakarta Sans;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 1.5rem;
  box-shadow: 5px 5px 1px #000;
  transition: 0.2s;
  border: 2px solid #000;
}
.regiBtn:hover {
  transform: translateX(2px) translateY(2px);
  box-shadow: 0 0 0;
}
/* .inpFile::-webkit-file-upload-button {
  height: 50px;
  width: 50%;
  visibility: hidden;
}
.inpFile::before {
  content: "Select Image";
  width: 50%;
  height: 30px;
  background-color: none;
  border: 1px solid #000;
  font-family: Plus Jakarta Sans;
  padding: 5px 10px;
  margin: 0px 0 0px 15px;
  border-radius: 30px;
  color: #000;
  font-size: 1.01rem;
  /* font-weight: bold; 
} */
.fileProgressDiv {
  display: flex;
  width: 240%;
  justify-content: space-between;
  align-items: center;
}
.rectProgress {
  width: 100%;
  height: 10px;
  margin: 0 10px 5px 0;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.fillProgress {
  width: 100%;
  height: 7px;
  background-color: rgb(40, 137, 201);
  margin: 0 0 0 2px;
  border-radius: 10px;
  transition: 0.3s;
}
.items a {
  color: #fff;
  text-decoration: none;
}

.items .itemHover {
  cursor: pointer;
  padding: 10px 10px;
  border-radius: 20px;
  transition: 0.4s;
}

.itemHover:hover {
  background-color: var(--pallet);
  color: #000;
}

.hero-section {
  width: 100%;
  height: 88vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: -1;
  /* box-shadow: 0 0 15px #fff; */
}

.imgContainer {
  width: 50%;
  height: 80vh;
  overflow: hidden;
}

.img-men-struggling {
  width: 500px;
  height: 80%;
  margin: 20px 90px 0 0;
}

.assignment-text {
  margin: 0 0 0 50px;
}

.marginH1 {
  margin: 0 0 10px 0px;
  font-size: 3rem;
}

.line {
  width: 100%;
  height: 2px;
  background-color: var(--pallet);
  margin: 10px 0 10px 0;
  border-radius: 10px;
}

.details-hero {
  font-size: 1.2rem;
}

.greet-user {
  font-size: 1.5rem;
  font-weight: bolder;
  margin: 0 0 10px 0;
}

.exploreBtn {
  margin: 20px 0 0 0;
  width: 160px;
  height: 40px;
  border: 0.1px solid #000;
  outline: none;
  background-color: var(--pallet);
  font-size: 1.5rem;
  box-shadow: 6px 6px 1px #464646;
  border-radius: 3px;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: 700;
}

.exploreBtn:hover {
  margin: 25px 0 0 5px;
  box-shadow: 0 0 0;
}
.assignMentNew {
  position: relative;
  height: 100vh;
  width: 100%;
  background-color: #000;
  overflow: hidden;
  font-size: 2rem;
}
.boldAss,
.disNine {
  font-weight: bolder;
  font-size: 2.5rem;
  color: var(--font-color-dark);
  transform: translateY(45px);
  opacity: 0;
  transition: 0.6s;
}
.disNine {
  transition-delay: 0.5s;
  font-weight: lighter;
}
.assignMentSectionNew {
  position: relative;
  width: 100%;
  height: 300px;
  margin: 20px 0 20px 0;
  z-index: 333;
}
.assignMentTitle {
  text-transform: uppercase;
  position: relative;
  top: 20px;
  left: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 2px;
  width: 800px;
}

.lightRed {
  color: var(--font-color);
  transform: translateX(45px);
  opacity: 0;
  transition: 0.5s;
  transition-delay: 1s;
}
.textToggle {
  transform: translateX(0) translateY(0);
  opacity: 1;
}
.footerMain {
  width: 100%;
  height: 100vh;
  background-color: #000000;
  overflow: hidden;
}

.timeDate {
  margin: 0px 0px 20px 0;
}
.time,
#dateShow {
  font-size: 1.5rem;
}
.lineDate {
  width: 150px;
  height: 2px;
  background-color: var(--pallet);
  border-radius: 10px;
}
.footerMain {
  width: 100%;
  height: 100vh;
  /* background-color: rgb(255, 255, 255); */
  margin: 0px 0 0 0;
}
.logoGamin {
  font-family: Valorax;
  font-size: 5rem;
  margin: 20px 0 0 20px;
  cursor: pointer;
}
.blurredBack {
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.navLinks {
  width: 50%;
  height: 100%;
}
.mainBlur {
  width: 90%;
  height: 75vh;
  /* background: linear-gradient(45deg, #144272, #2c74b3, #205295); */
  background: linear-gradient(45deg, #051912, #0186a3, #3eb0ee);
  /* background: linear-gradient(45deg, #350706, #9c1d16, #d42816); */
  backdrop-filter: blur(5px);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px #051912;
  transform: translateY(30px);
  opacity: 0;
  transition: 1s;
}
.mainTogg {
  transform: translate(0);
  opacity: 1;
}
.navigation {
  margin: 20px 0 0 20px;
  font-size: 2rem;
}
.lineNav {
  width: 300px;
  height: 5px;
  background-color: #ffffff;
  border-radius: 10px;
}
.navShortcut {
  display: flex;
  width: 100%;
  align-items: center;
  margin: 15px 0 0 10px;
  cursor: pointer;
  position: relative;
  font-weight: bold;
}
.navShortcut::after {
  content: "";
  position: absolute;
  bottom: -2px;
  left: 32px;
  height: 2px;
  width: 0;
  background-color: #f9f9f9;
  transition: all 0.3s;
  border-radius: 10px;
}
.navShortcut:nth-child(2):hover.navShortcut::after {
  width: 50px;
}
.navShortcut:nth-child(3):hover.navShortcut::after {
  width: 100px;
}
.navShortcut:nth-child(4):hover.navShortcut::after {
  width: 155px;
}
.navShortcut:nth-child(5):hover.navShortcut::after {
  width: 120px;
}
.navShortcut:nth-child(6):hover.navShortcut::after {
  width: 120px;
}
.navShortcut:nth-child(7):hover.navShortcut::after {
  width: 150px;
}
.navShortcut:nth-child(8):hover.navShortcut::after {
  width: 130px;
}
.navShortcut a {
  text-decoration: none;
  color: #ffffff;
}
.logoAndQuote {
  height: 100%;
  margin: 60px 0 0 10px;
}
.logoAndQuote h1 {
  font-size: 2rem;
}
.imgSmall {
  width: 12px;
  height: 12px;
  margin: 0 10px 0 10px;
}
.greyOut {
  color: #c4ffe2;
}
.myProfile {
  height: 60%;
  width: 100%;
}
.profile {
  width: 100%;
  height: 80px;
  background-color: rgba(23, 23, 23, 0.409);
  margin: 10px 0;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.profile img {
  width: 50px;
  height: 50px;
}
.sliderMain::-webkit-scrollbar,
.lineDivider::-webkit-scrollbar {
  display: none;
}
.sliderMain {
  width: 100%;
  height: 300px;
  overflow-x: scroll;
  transition: all 0.5s;
  margin: 60px 0 0 0;
  scroll-snap-type: x mandatory;
  z-index: 220;
}
.sliderSub {
  width: 150%;
  height: 300px;
  display: flex;
  justify-content: space-around;
}
.subjectAndLins {
  width: 310px;
  height: 70px;
  background-color: rgba(37, 37, 37, 0.724);
  border-radius: 50px;
  border: 1px solid gray;
  overflow: hidden;
  cursor: pointer;
  scroll-snap-align: center;
  backdrop-filter: blur(20px);
  opacity: 0;
}

.subToggleOpacity {
  opacity: 1;
  transition: 0.5s;
}
.subToggle {
  height: 290px;
  border-radius: 20px;
  border: 1px solid gray;
}
.subjectMainToggle {
  width: 100%;
  height: 70px;
  border-radius: 10px 10px 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3b3b3b00;
}
.subName {
  font-size: 1rem;
  font-weight: bolder;
  text-transform: uppercase;
  margin: 0 0 0 10px;
}
.circleLogo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: rgb(0, 84, 99);
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  margin: 0 0 0 5px;
  font-weight: bolder;
  transition: 0.5s;
}
.bordRad {
  border-radius: 15px;
}
.assignedArrow {
  transition: 0.5s;

  margin: 0 5px 0 5px;
}

.arrDownSub {
  width: 25px;
  transform: rotate(90deg);
  height: 25px;
}
.rotArr {
  transform: rotate(180deg);
}
.topToggle {
  height: 300px;
}
.lineDivider {
  width: 100%;
  height: 220px;
  overflow: scroll;
}
.subjectSection {
  width: 100%;
  height: 60px;
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.1rem;
}
.subjectSection p {
  margin: 0 0 0 20px;
}
.subjectSection img {
  width: 30px;
  height: 30px;
  margin: 0 20px 0 0;
}
.lineDivider a {
  color: #fff;
  text-decoration: none;
}
.imageHolder {
  width: 100%;
  height: 500px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
}
.students {
  width: 100%;
  height: 400px;
  position: absolute;
  top: 0;
  scale: 4;
  transform: translateY(45px);
  opacity: 0;
  transition: 1s;
}
.waveToggle {
  transform: translateY(0);
  opacity: 1;
  scale: 2.3;
}
.navigationTut {
  background: none;
  font-family: Plus Jakarta Sans;
  border: none;
  outline: none;
  color: #fff;
  font-weight: bolder;
  font-size: 1.009rem;
}

.textSched {
  position: absolute;
  top: 60px;
  right: 200px;
  background-color: rgba(255, 255, 255, 0.731);
  z-index: 55;
  color: #000;
  padding: 10px;
  border-radius: 10px;
  opacity: 0;
  transition: 0.5s;
  backdrop-filter: blur(20px);
}
.toggleTable {
  opacity: 1;
}

.signUpForm {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(205, 205, 205, 0.626);
  display: flex;
  justify-content: center;
  align-items: center;
  /* pointer-events: none; */
  backdrop-filter: blur(5px);
  color: #000;
  z-index: -1;
  opacity: 0;
  transition: 0.5s;
}
.toggleSignUp {
  z-index: 555;
  opacity: 1;
}
.signUpFormDiv {
  width: 330px;
  height: 450px;
  background-color: #f1f1f1;
  border-radius: 10px;
}
.titleForm {
  width: 100%;
  height: 50px;
  color: #1c6b15;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
}
.titleForm h2 {
  margin: 0 0 0 10px;
}
.imgClose {
  width: 30px;
  height: 30px;
  margin: 0 10px 0 0;
  cursor: pointer;
}
.authWithGithub {
  width: 100%;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0 0 0;
  color: #fff;
}
.rectBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  height: 50px;
  background-color: #1c6b15;
  border-radius: 10px;
  cursor: pointer;
  font-weight: bolder;
}
.orLine {
  width: 100%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  font-size: 0.8rem;
  margin: 8px 0 8px 0;
}
.orLineMain {
  width: 90%;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.lineS {
  width: 50%;
  height: 1px;
  background-color: #000;
}
.p {
  margin: 0 5px 0 5px;
}
.inputFlex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 20px 0;
}
label {
  font-weight: bolder;
}
.inputStyle {
  background-color: #cbcbcb;
  /* border: 0.5px solid #515151; */
  border: none;
  height: 20px;
  border-radius: 2px;
  outline: none;
  padding: 5px;
  font-family: Plus Jakarta Sans;
  width: 130px;
}
.inpEmailSt {
  width: 280px;
}
.pass {
  position: relative;
}
.eyeOff {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 8px;
  top: 23px;
  cursor: pointer;
}
.inpFile {
  font-family: Plus Jakarta Sans;
  background: none;
  width: 270px;
}
.progressText {
  display: flex;
  height: 10px;
  margin: 10px 0 50px 0;
  font-size: 0.9rem;
  width: 100%;
  /* justify-content: space-between; */
  position: absolute;
}
.imageUploadProcess {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0 20px 0;
}
.imageUploadProcessMain {
  width: 80%;
  height: 8px;
  border: 1px solid #000;
  border-radius: 10px;
  display: flex;
  align-items: center;
  margin: 20px 0 0 0;
  padding: 0 1px 0.5px 1px;
}
.imageUploadProcessSub {
  width: 100%;
  height: 7px;
  background-color: #1c6b15;
  border-radius: 10px;
  margin: 0.5px 0 0 0.5px;
  transition: 0.2s;
}
.submitButton {
  width: 100%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.signUpBtn {
  background: #1c6b15;
  border: none;
  font-family: Plus Jakarta Sans;
  padding: 10px;
  width: 90%;
  border-radius: 10px;
  color: #fff;
  font-weight: bolder;
  font-size: 1.3rem;
  cursor: pointer;
}
.signUpOrLogInOpt {
  position: absolute;
  right: 30px;
  top: 75px;
  width: 150px;
  height: 150px;
  background-color: rgb(244, 244, 244);
  z-index: 55;
  border-radius: 10px;
  opacity: 0;
  z-index: -5;
  transition: 0.5s;
}
.toggleSignUpDialogue {
  z-index: 55;
  opacity: 1;
  transition: 0.5s;
}
.signUpOrLogInOpt:after {
  content: "";
  position: absolute;
  top: -20px;
  right: 30px;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent rgb(244, 244, 244) transparent;
}
.buttonForm {
  width: 100%;
  height: 36.66px;
  border-radius: 10px;
  border: none;
  font-family: Plus Jakarta Sans;
  background: none;
  cursor: pointer;
}
.lineD {
  width: 90%;
  height: 0.5px;
  background-color: #a9a9a9;
  margin: 0 auto;
}

/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
.loginFormSec {
  position: fixed;
  top: 0;
  z-index: -5;
  opacity: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(205, 205, 205, 0.626);
  backdrop-filter: blur(5px);
  transition: 0.5s;
}
.loginToggle {
  z-index: 555;
  opacity: 1;
}
.loginForm {
  width: 330px;
  height: 320px;
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #000;
}
.passReset {
  text-align: right;
  cursor: pointer;
  margin: 10px 10px 0 0;
}
.widthInput {
  width: 280px;
  margin: 0 10px;
}
.myProfileSec {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(205, 205, 205, 0.626);
  backdrop-filter: blur(5px);
  transition: 0.5s;
  z-index: -1;
  opacity: 0;
}
.profileVis {
  z-index: 555;
  opacity: 1;
}
.myProfileDiv {
  width: 310px;
  height: 520px;
  background-color: #f1f1f1;
  border-radius: 10px;
  color: #000;
}
.circleImageProfile {
  width: 100%;
  height: 140px;

  display: flex;
  justify-content: center;
  align-items: center;
}
.profileImageCard {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: 0 0 5px rgb(134, 134, 134);
}
.emailFieldUpdate {
  width: 100%;
  display: flex;
  justify-content: center;
}
.subStyle {
  width: 270px;
  margin: 10px 0;
}
.changeDetailBtn {
  margin: 20px 0 0 0;
}
.alertPlates {
  position: absolute;
  bottom: 50px;
  z-index: 5;
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.subCont {
  /* position: relative; */
  width: 100%;
  height: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.alertPlateOne {
  width: 360px;
  height: 40px;
  background-color: #102a4e;
  text-align: left;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px 0;
  margin: 10px 0;
  position: absolute;
  top: 0;
  border-radius: 10px;
  font-weight: bolder;
  box-shadow: 0 0 10px #011025;
  opacity: 0;
  transform: translateY(-0px);
  pointer-events: none;
  transition: 0.5s;
}
.alertAcCreate {
  margin: 0 0 0 10px;
}
.bringUpAccountToggle {
  opacity: 1;
  transform: translateY(-40px);
  z-index: 557;
}
.loggedInAsLight {
  font-weight: lighter;
}
#eyeImgLogIn {
  margin: 0 10px 0 0;
}
table td {
  padding: 10px;
  text-align: center;
  border: 1px solid #000;
}
.faCross {
  display: none;
}
@media only screen and (max-width: 675px) {
  .textSched {
    position: fixed;
    top: 0;
    width: 90%;
    opacity: 0;
    display: block;
    left: 0;
    pointer-events: none;
    text-align: center;
  }
  .callExamShed {
    pointer-events: all;
    opacity: 1;
  }
  .faCross {
    margin: 20px 0 0 0;
  }
  .faCross button {
    padding: 5px 10px;
    background-color: var(--pallet);
    border: none;
    border-radius: 10px;
  }
  .circleProfileMob {
    display: block;
  }
  .circleProfileMob img {
    width: 50px;
    height: 50px;
    margin: 5px 0 0 30px;
  }
  .students {
    width: 100%;
    height: 400px;
    position: absolute;
    top: 40%;

    scale: 3;
    transform: translateY(45px);
    opacity: 0;
  }
  .waveToggle {
    transform: translateY(0);
    opacity: 1;
    scale: 2.3;
  }
  .assignMentSectionNew {
    position: relative;
    width: 100%;
    height: 300px;
    margin: 20px 0 20px 0;
    z-index: 0;
  }
  .assignMentNew {
    height: 100vh;
  }
  .sliderMain {
    width: 100%;
    height: 300px;
    overflow-x: scroll;
    transition: all 0.5s;
    z-index: 0;
  }
  .sliderSub {
    width: 800%;
    height: 300px;
    display: flex;
    justify-content: space-around;
  }
  .subjectAndLins {
    width: 310px;
    height: 70px;
    background-color: rgb(37, 37, 37);
    border-radius: 50px;
    border: 1px solid gray;
    transition: 0.5s;
    overflow: hidden;
  }
  .subToggle {
    height: 290px;
    border-radius: 20px;
    border: 1px solid gray;
  }
  .subjectMainToggle {
    width: 100%;
    height: 70px;
    border-radius: 10px 10px 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .subName {
    font-size: 1rem;
    font-weight: bolder;
    text-transform: uppercase;
    margin: 0 0 0 10px;
  }
  .circleLogo {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: rgb(0, 84, 99);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.9rem;
    margin: 0 0 0 5px;
    font-weight: bolder;
    transition: 0.5s;
  }
  .bordRad {
    border-radius: 15px;
  }
  .assignedArrow {
    transition: 0.5s;

    margin: 0 5px 0 5px;
  }

  .arrDownSub {
    width: 25px;
    transform: rotate(90deg);
    height: 25px;
  }
  .rotArr {
    transform: rotate(180deg);
  }
  .topToggle {
    height: 300px;
  }
  .lineDivider {
    width: 100%;
    height: 220px;
    overflow: scroll;
  }
  .subjectSection {
    width: 100%;
    height: 60px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.1rem;
  }
  .subjectSection p {
    margin: 0 0 0 20px;
  }
  .subjectSection img {
    width: 30px;
    height: 30px;
    margin: 0 20px 0 0;
  }
  .assignMentTitle {
    display: block;
    top: 0;
    left: 10px;
    border: none;
  }
  .disNine {
    display: none;
  }
  .boldAss {
    display: block;
  }
  .lightRed {
    display: block;
    font-size: 1.3rem;
    margin-top: -20px;
  }
  .myProfile {
    display: none;
  }
  .mainBlur {
    display: unset;
  }
  .logoAndQuote {
    height: 30%;
    margin: 20px 0 0 10px;
  }
  .navigation {
    margin: 10px 0 0 20px;
    font-size: 1rem;
  }
  .lineNav {
    width: 150px;
    height: 5px;
    background-color: #ffffff;
    border-radius: 10px;
  }
  .navShortcut {
    /* display: flex; */
    width: 150%;
    align-items: center;
    margin: 15px 0 0 10px;
    cursor: pointer;
  }
  .line {
    width: 100%;
    height: 2px;
    margin: 15px 0 15px 0;
    border-radius: 10px;
  }
  .assignmentSubjects::after {
    display: none;
  }

  .assignmentSubjects:hover {
    color: #000;
  }

  .heightHeader {
    width: 100%;
    height: 100vh;
    background-size: 300% 100%;
    background-position: center;
  }
  .assignment-text {
    height: 70%;
  }
  .assignment-text,
  .greet-user,
  .marginH1,
  .details-hero {
    font-size: 1rem;
  }

  .image-container {
    display: none;
  }

  .navigationBar {
    justify-content: flex-start;
  }
  .fixedNav {
    position: relative;
    z-index: 55555555;
    top: 0;
  }
  .logo-container {
    margin: 0 0 0 20px;
    font-size: 1.5rem;
    z-index: 55;
  }

  .marginLogo {
    margin: 0;
  }

  .hamburger {
    display: block;
    width: 40px;
    height: 40px;
    margin: 0 0 0 20px;
    cursor: pointer;
    transition: 0.5s;
    z-index: 555;
  }

  .items {
    display: none;
  }

  .bars {
    width: 35px;
    height: 2px;
    background-color: #ffffff;
    margin: 9px 0 8px 2px;
    z-index: 5;
    position: relative;
    border-radius: 10px;
    transition: 0.5s;
  }

  .nav-block {
    display: inline-block;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    overflow: hidden;
    z-index: 2;
    height: 100vh;
    background-color: #eaeaeaa0;
    overflow: hidden;
    margin: 0 0 0 -100%;
    transition: 0.4s;
    backdrop-filter: blur(20px);
  }

  .navToggle {
    margin: 0;
    z-index: 2;
  }

  .logo-container {
    position: relative;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0 0 0 20px;
    font-weight: bolder;
  }

  .navLogo {
    margin: 0 0 0 60px;
  }

  .rotate {
    transform: rotate(-180deg);
    margin: 5px 0 0 20px;
  }
  .closeBars {
    background-color: #000;
  }
  .closeMenu {
    margin: 150px 0 0 20px;
    color: #000;
  }
  .itemsNav p {
    color: #000;
  }
  .barOneToggle {
    transform: translateX(20px) translateY(4px) rotate(45deg);
    width: 20px;
    /* background-color: #000000; */
  }

  .barTwoToggle {
    width: 20px;
    transform: translateX(20px) translateY(-4px) rotate(-45deg);
    /* background-color: #000000; */
  }
  .barOneOToggle {
    /* background-color: #000; */
  }
  .itemsNav {
    width: 100%;
    height: 60%;
    margin: 20px 0 10px 0;
  }

  .navItems {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.3s;
    font-weight: bold;
    margin: 10px 0;
  }

  .aniMationBar a {
    text-decoration: none;
    color: #000;
  }

  .navItems:hover {
    background-color: #a9a9a9;
  }

  .navItems p {
    margin: 0 0 0 20px;
  }

  .fa-chev {
    width: 15px;
    height: 15px;
    margin: 0 20px 0 0;
  }

  .hero-section {
    display: flex;
    justify-content: flex-start;
    margin: 0;
  }

  .assignment-text {
    margin: 0 10px 0 10px;
  }

  .greet-user {
    font-size: 1.2rem;
  }

  .marginH1 {
    font-size: 1.8rem;
  }

  .lines {
    width: 100%;
    height: 40px;
    border-top: 0.5px solid #fff;
    border-bottom: 0.5px solid #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .downIcon {
    width: 30px;
    height: 30px;
  }

  .aniMationBar {
    transform: translateY(50px);
    opacity: 0;
  }

  .aniMationBar:nth-child(2) {
    transition-delay: 0.2s;
  }

  .aniMationBar:nth-child(3) {
    transition-delay: 0.4s;
  }

  .aniMationBar:nth-child(4) {
    transition-delay: 0.6s;
  }

  .aniMationBar:nth-child(5) {
    transition-delay: 0.8s;
  }

  .aniMationBar:nth-child(6) {
    transition-delay: 1s;
  }

  .toggBar {
    transition: 1s;

    transform: translateY(0);
    opacity: 1;
  }
  .footerMain {
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0);
    margin: 0px 0 0 0;
  }
  .logoGamin {
    cursor: pointer;
    font-size: 2.4rem;
    margin: 50px 0 0 20px;
  }
}
